<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfredapp.sparkify</string>
	<key>connections</key>
	<dict>
		<key>33880055-D8BC-48FC-852D-CC17A7783AC2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F1213DCB-38B5-4C1E-A8E8-74BBCA22F4C9</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Paste in foreground application</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F3705711-30F2-43E1-8B0F-09E97EE93F50</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F1213DCB-38B5-4C1E-A8E8-74BBCA22F4C9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F638C100-1DB4-4186-9F85-66199E3715F0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>81A24B78-AE3B-407A-B2D0-430EEAC87FEB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F3705711-30F2-43E1-8B0F-09E97EE93F50</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>90FFB8C3-6E83-4C10-B920-DBC03EC76594</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>26263115-1258-41D0-AC13-33CE027A5427</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>9A1F357A-A4AC-4E30-8C04-4977135C0006</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Kai Brune</string>
	<key>description</key>
	<string>Add sparkles to everything</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Sparkify</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>function run(argv) {
  var input = "✨ "+argv[0]+" ✨";
return input;
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F1213DCB-38B5-4C1E-A8E8-74BBCA22F4C9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>F638C100-1DB4-4186-9F85-66199E3715F0</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Pasted text to application 🥳</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>81A24B78-AE3B-407A-B2D0-430EEAC87FEB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>90FFB8C3-6E83-4C10-B920-DBC03EC76594</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>function run(argv) {
  var input = "✨ "+argv[0]+" ✨";
return input;
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F3705711-30F2-43E1-8B0F-09E97EE93F50</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>spark</string>
				<key>subtext</key>
				<string>Add sparkles to everything</string>
				<key>text</key>
				<string>Sparkify '{query}'</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>33880055-D8BC-48FC-852D-CC17A7783AC2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>soundname</key>
				<string>Ping</string>
				<key>systemsound</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.playsound</string>
			<key>uid</key>
			<string>26263115-1258-41D0-AC13-33CE027A5427</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Copied text to clipboard 🥳</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>9A1F357A-A4AC-4E30-8C04-4977135C0006</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>This workflow add sparkles to the input in a meme-like way. You know what I ✨ mean ✨.</string>
	<key>uidata</key>
	<dict>
		<key>26263115-1258-41D0-AC13-33CE027A5427</key>
		<dict>
			<key>xpos</key>
			<integer>530</integer>
			<key>ypos</key>
			<integer>420</integer>
		</dict>
		<key>33880055-D8BC-48FC-852D-CC17A7783AC2</key>
		<dict>
			<key>xpos</key>
			<integer>55</integer>
			<key>ypos</key>
			<integer>325</integer>
		</dict>
		<key>81A24B78-AE3B-407A-B2D0-430EEAC87FEB</key>
		<dict>
			<key>xpos</key>
			<integer>530</integer>
			<key>ypos</key>
			<integer>125</integer>
		</dict>
		<key>90FFB8C3-6E83-4C10-B920-DBC03EC76594</key>
		<dict>
			<key>xpos</key>
			<integer>530</integer>
			<key>ypos</key>
			<integer>305</integer>
		</dict>
		<key>9A1F357A-A4AC-4E30-8C04-4977135C0006</key>
		<dict>
			<key>xpos</key>
			<integer>530</integer>
			<key>ypos</key>
			<integer>530</integer>
		</dict>
		<key>F1213DCB-38B5-4C1E-A8E8-74BBCA22F4C9</key>
		<dict>
			<key>xpos</key>
			<integer>335</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>F3705711-30F2-43E1-8B0F-09E97EE93F50</key>
		<dict>
			<key>xpos</key>
			<integer>330</integer>
			<key>ypos</key>
			<integer>320</integer>
		</dict>
		<key>F638C100-1DB4-4186-9F85-66199E3715F0</key>
		<dict>
			<key>xpos</key>
			<integer>525</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/kaibrune</string>
</dict>
</plist>
